@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
}


.header {
  position: relative;
  height: 15px; /* Altura do banner */
  overflow: hidden;
}
.header2-inner {
  padding: 0px; /* Espaçamento interno */
  display: inline-block; /* Para a div ocupar apenas o espaço necessário */
  margin-bottom: 30px;
}
.column {
  display: inline-block;
  width: 40%; /* Largura de cada coluna */
  margin-right: 5%; /* Espaço entre as colunas */
  margin-bottom: 5px;
}
.column img {
  width: 70%;
  margin-bottom: 0px;


}
.column:last-child {
  margin-right: 0; /* Remover margem à direita da última coluna */
  width: 50%;
}
.green-column {
  background-color:  #DB8300;
  padding: 10px;
  border-radius: 05px;


}
.green-column p {
  color: #fff;
  margin: 0;
  font-size: 14px;
}
.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.section1 {
  background-color: rgb(224, 225, 228);
  color: #000000;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  
}
.section1 img {
  max-width: 100%;
  height: auto;
}

h5{
  color: #ec4899;
}


.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #2e82bc; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #0f910f; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #0f910f 0%, #0f910f 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
      animation: pulse 1s infinite;
    }
    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
      font-family: Oswald; 
      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;
      text-decoration: none;
    }
    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #f5e051; 
      font-family: Cabin; 
      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  
    .pulse-btn {
      animation: pulse 1s infinite;
    }